body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

div{
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}
.main{
    width: 65%;
    border: 2px solid grey;
    display: flex;
    background-color: white;
    
}

.canvas{
    display: grid;
    width: 80%;
    aspect-ratio: 1/1;
    grid-auto-flow: dense;
}

.boder{
    border: 1px solid black;
}

.canvas>*{
    aspect-ratio: 1/1;
    border-collapse: collapse;
}

.options{
    border-right: 3px groove rgba(73, 73, 73, 0.984);
    flex: 1 2 0 ;
    max-width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    padding: 20px;
}

.eraser, .grid-toggle, .clear, .picker{
    border-radius: 4px;
    border: 0px;
    padding: 0.4rem;
    font-size: 0.9rem;
}
.eraser{
    background-color:#FF3A19;
    color: white;
}

.eraser:active{
    transform: translateY(5px);
}

.eraser-active{
    background-color: #02C66F;
}

.picker{
    width: 100px;
    height: 100px;
    border: 0;
}
.clear{
    background-color:#e2714be8;
    color: white;  
}

.grid-toggle{
    padding: .5rem;
    background-color: rgb(251, 95, 220);
    color: white;

}

label{
    font-size: 1.05rem;
    margin-bottom: 5px;
}

select{
    font-size: 16px;
}

@media (max-width:500px){
    .main{
        flex-direction: column;
    }
    .area{
        max-height: 80%;
    }
    .options{
        max-width: 100%;
        max-height: 20%;
        border-right: 0px;
        border-bottom: 2px groove rgba(73, 73, 73, 0.984);
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
    }

    .clear{
        align-self: stretch;
    }

    .picker{
        margin: auto;
    }

     .grid-toggle, .clear{
        justify-self: stretch;
    }

     .grid-toggle, .eraser{
        align-self: stretch;
    }

    .size-container{
        grid-column: 1 / span2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .picker, .grid-toggle{
        grid-column: 1;
    }
}